


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
-
*/


/* Something something
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  padding: 4em 0;
}

.hero img,
.section img {
    max-width:100%;
}

.section {
    border-bottom: 1px solid #dddddd;
    padding: 2em 0;
}

.lastSection {
  border: none;
}

a {
	text-decoration: none;
  color: #a1a198;
}

/*---*/

body {
	background: #eaeae5;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	color: #6a6e72;
}

h1, h2, h3 {
  font-family: "jubilat",'Roboto Slab', sans-serif;
  font-weight: 100;
  color: #a1a198;
  text-transform: lowercase;
  }

.thumb {
	position: relative;
	display: block;
}

.thumb img {
    max-width: 100%;
}

.thumb span.title {
	position: absolute;
	top: 0;
	left: 0;
	background: #ffffff;
	color: #52555b;
	font-size: .75rem;
	padding: .5em 1em;
	text-transform: uppercase;
	font-weight: bold;
}

.columns {
    margin-left: 1%; }

p {
	margin-top: 1em;
	margin-bottom 1em;
}

a.back {
  font-size: 1.5rem;
  text-transform: lowercase;
}
